[submodule "submodules/htslib"]
	path = submodules/htslib
	url = https://github.com/samtools/htslib
[submodule "submodules/qgenlib"]
	path = submodules/qgenlib
	url = https://github.com/hyunminkang/qgenlib
[submodule "submodules/spatula"]
	path = submodules/spatula
	url = https://github.com/seqscope/spatula
[submodule "submodules/tippecanoe"]
	path = submodules/tippecanoe
	url = https://github.com/felt/tippecanoe
[submodule "submodules/factor_viz"]
	path = submodules/factor_viz
	url = https://github.com/seqscope/factor_viz
