[submodule "submodules/htslib"]
	path = submodules/htslib
	url = https://github.com/samtools/htslib
[submodule "submodules/qgenlib"]
	path = submodules/qgenlib
	url = https://github.com/hyunminkang/qgenlib
[submodule "submodules/spatula"]
	path = submodules/spatula
	url = https://github.com/seqscope/spatula
[submodule "submodules/tippecanoe"]
	path = submodules/tippecanoe
	url = https://github.com/felt/tippecanoe
[submodule "submodules/factor_viz"]
	path = submodules/factor_viz
	url = https://github.com/seqscope/factor_viz
[submodule "submodules/ficture"]
	path = submodules/ficture
	url = git@github.com:seqscope/ficture.git
	branch = dev
[submodule "submodules/ImageMagick"]
	path = submodules/ImageMagick
	url = git@github.com:ImageMagick/ImageMagick.git
[submodule "submodules/go-pmtiles"]
	path = submodules/go-pmtiles
	url = git@github.com:protomaps/go-pmtiles.git
[submodule "submodules/punkst"]
	path = submodules/punkst
	url = https://github.com/Yichen-Si/punkst.git
