# Projection information
site_name: cartloader
site_url: https://seqscope.github.io/cartloader

# Repository
repo_name: seqscope/cartloader
repo_url: https://github.com/seqscope/cartloader

# Theme configuration
theme:
  name: material
  features:
  - navigation.tabs
  - navigation.indexes
  - navigation.sections
  - navigation.expand
  - navigation.path
  - content.code.annotate
  - content.grid
  - content.cards
  - content.footnote.tooltips
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/link
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/toggle-switch
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: indigo
    toggle:
      icon: material/toggle-switch-off
      name: Switch to system preference
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  icon:
    annotation: material/arrow-right-circle
#  icon:
#    admonition:
#      <type>: <icon>

# Navigation structure
nav:
  - Home: 
      - Introduction: index.md
  - Quick Start: 
      - Overview: vignettes/quickstart/intro.md
      - Run with Docker: vignettes/quickstart/run_in_docker.md
      - Run Locally: vignettes/quickstart/run_locally.md
  - Installation: installation.md
  - Vignettes:
      - Overview: vignettes/intro.md
      #- Quick Start: vignettes/quickstart/run_locally.md
      - Getting Started with `cartloader`:
        - SeqScope Starter Tutorial: vignettes/subregion_tutorials/seqscope.md
        - StereoSeq Starter Tutorial: vignettes/subregion_tutorials/stereoseq.md
        - Visium HD Starter Tutorial: vignettes/subregion_tutorials/visiumhd.md
        - Pixel-Seq Starter Tutorial: vignettes/subregion_tutorials/pixelseq.md
        - Xenium Starter Tutorial: vignettes/subregion_tutorials/xenium.md
        - MERSCOPE Starter Tutorial: vignettes/subregion_tutorials/merscope.md
        - CoxMX SMI Starter Tutorial: vignettes/subregion_tutorials/cosmxsmi.md
  - References:
      - Overview: reference/intro.md
      - SGE Preparation:
          - SGE Format Conversion: reference/sge_convert.md
          - SGE Utilities: reference/sge_utilities.md
      - Analysis:
          - FICTURE Analysis: reference/run_ficture2.md
      - Packaging:
          - Asset Packaging: reference/run_cartload2.md
          - Image Import: reference/import_image.md
          - Import Cell Analysis: reference/import_cell.md
      - Upload:
          - Data Repository Upload: reference/upload_repository.md

# Watch for changes
watch:
  - includes

# Markdown Extensions
markdown_extensions:
  - abbr
  - tables
  - footnotes
  - admonition
  - attr_list
  - md_in_html
  - codehilite:
      guess_lang: false 
  - toc:
      permalink: true
      toc_depth: 2
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
      css_class: 'highlight'
  - pymdownx.superfences
  - pymdownx.snippets:
      auto_append:
        - includes/glossary.md
      check_paths: True
# - pymdownx.inlinehilite
  - pymdownx.blocks.caption

plugins:
  - search
  - open-in-new-tab
  - include-markdown
  - table-reader
  # - macros

# Extra CSS
extra_css:
  - css/extra.css
  #- css/neoteroi-mkdocs.css

extra_javascript:
  - js/load_tsv.js
